<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Public - Auth : simple login providor</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    />
  </head>
  <body>
    <br />
    <br />
    <br />
    <div class="container">
      <div class="jumbotron">
        <div class="text-center">
          <h1>Public - auth</h1>
          <p>server working perfect</p>
          <a href="/api">Swagger Documentation</a>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
